.wrapper {
  background: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .mainContainer {
    height: calc(100% - 40px);
    width: 100%;
    display:flex;
    flex-direction: row;
  }
}
